<?xml version="1.0" encoding="utf-8" ?>
<!--
    Minha Net Minha Vida
    Copyright (C) 2016  Érycson Nóbrega <egdn2004@gmail.com>

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <appSettings>
    <!-- User -->
    <add key="TWITTER" value=""/>
    <add key="SPEED" value="1"/>
    <add key="SPEED_AVG" value="80"/>
    <add key="SPEED_MIN" value="40"/>
    <add key="INTERVAL" value="1"/>
    
    <!-- Twitter -->
    <add key="CONSUMER_KEY" value=""/>
    <add key="CONSUMER_SECRET" value=""/>
    <add key="ACCESS_TOKEN" value=""/>
    <add key="ACCESS_TOKEN_SECRET" value=""/>
  </appSettings>
</configuration>